{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/e03b286a27.js" crossorigin="anonymous"></script>
    <title>{% block title %}CV Generator{% endblock %}</title>
</head>
<body>
    <h1>cv generator by mlaskowski7</h1>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


</body>
</html>