<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your CV</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
        body{
            font-family: Nunito, sans-serif;
        }
    </style>
</head>
<body>
    <h1>{{user_profile.name}}</h1>
    <p>Contact me by:</p>
    <p>{{user_profile.email}}</p>
    <p>{{user_profile.phone}}</p>
    <hr>
    <br>
    <h3>About Me</h3>
    <p>{{user_profile.summary}}</p>
    <hr>
    <h3>Skills</h3>
    <p>{{user_profile.skills}}</p>
    <hr>
    <h3>Education</h3>
    <ul>
        <li>{{user_profile.high_school}}</li>
        <li>{{user_profile.university}} - {{user_profile.degree}} Degree</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <p>{{user_profile.previous_work}}</p>

</body>
</html>